@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-dark-50;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-semibold transition duration-200;
  }
}